[color]
	ui = auto
[user]
	name = Arthur Fernandes
	email = arthurbpfernandes@gmail.com
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[alias]
	ci = commit
	co = checkout
	cm = chekout master
	cb = checkout -b
	st = status -sb
	sf = show --name-only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[init]
	defaultBranch = main
