!! Fonts
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

!! XTerm
XTerm*renderFont: true
XTerm*faceName: xft:FiraCode:size=10
XTerm*faceSize: 10
XTerm*utf8: true
XTerm*locale: true
XTerm.vt100.translations: #override \n\
  Ctrl <Key> j: smaller-vt-font() \n\
  Ctrl <Key> k: larger-vt-font()
XTerm*savelines: 16000

!! urxvt
URxvt*imLocale: en_US.UTF-8
URxvt*buffered: false
URxvt*.intensityStyles: false
URxvt*.font: xft:monospace:size=10
URxvt*.saveLines: 16000
URxvt*.scrollBar: false
URxvt*.cursorColor: white

! Colors

!!! Gruvbox
!*background: #1d2021
!!*background: #282828
!!*background: #32302f
!*foreground: #ebdbb2
!! Black + DarkGrey
!*color0:  #282828
!*color8:  #928374
!! DarkRed + Red
!*color1:  #cc241d
!*color9:  #fb4934
!! DarkGreen + Green
!*color2:  #98971a
!*color10: #b8bb26
!! DarkYellow + Yellow
!*color3:  #d79921
!*color11: #fabd2f
!! DarkBlue + Blue
!*color4:  #458588
!*color12: #83a598
!! DarkMagenta + Magenta
!*color5:  #b16286
!*color13: #d3869b
!! DarkCyan + Cyan
!*color6:  #689d6a
!*color14: #8ec07c
!! LightGrey + White
!*color7:  #a89984
!*color15: #ebdbb2

! Altered Tokyo
*.foreground:   #a4acd0
!*.background:   #16161e
*.background:   #000000
*.cursorColor:  #f8f8f2
! black
*.color0:       #101010
*.color8:       #434758
! red
*.color1:       #ff5555
*.color9:       #ff6e6e
! green
*.color2:       #50fa7b
*.color10:      #69ff94
! yellow
*.color3:       #f1fa8c
*.color11:      #ffffa5
! blue
*.color4:       #bd93f9
*.color12:      #d6acff
! magenta
*.color5:       #ff79c6
*.color13:      #ff92df
! cyan
*.color6:       #8be9fd
*.color14:      #a4ffff
! white
*.color7:       #f8f8f2
*.color15:      #ffffff

!! Tokyo Night
!*.foreground: #a4acd0
!!*.background: #16161e
!*.background: #000000
!*.cursorColor: #f8f8f2
!! black
!*.color0:       #363b54
!*.color8:       #4b5274
!! red
!*.color1:       #f7768e
!*.color9:       #ff96ad
!! green
!*.color2:       #41a6b5
!*.color10:      #52d3e4
!! yellow
!*.color3:       #e0af68
!*.color11:      #ffd99c
!! blue
!*.color4:       #7aa2f7
!*.color12:      #aac3f7
!! magenta
!*.color5:       #ff79c6
!*.color13:      #ff92df
!! cyan
!*.color6:       #7dcfff
!*.color14:      #a5deff
!! white
!*.color7:       #787c99
!*.color15:      #acb0d0
